numpy
pandas
boto3
dagster
dagster-webserver
docker-compose
streamlit
kaggle
pyspark==3.5.1
duckdb
fastapi
uvicorn
langgraph
langchain
langchain-openai
langchain-community
chromadb
plotly
redis
pre-commit
black
isort
flake8
openpyxl
sqlalchemy
psycopg2-binary
mysql-connector-python
